<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
     user-scalable=no, width=device-width, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>保障范围</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src='../js/utils/adaptive.js'></script>
    <script src='../js/zepto/zepto.min.js'></script>
    <style>
        body {background-color: #fff;}
        .scope-title {font-size: 0.33rem;text-align: center;height: 1rem;line-height: 1rem;color: #444;border-bottom: 1px solid #E0E5E5; }
        .scope-items {margin: 0 0.2rem;padding: 0.2rem 0.25rem;color: #666;}
        .scope-items li .dot {float: left;width: 4%;color: #999;}
        .scope-items li .content {float: right;width: 96%;}
    </style>
</head>
<body>
<!--<header class="backed-header row">-->
    <!--<a class="backed-btn" href="welfare.html">-->
        <!--<img src="images/backed.png">-->
    <!--</a>-->
    <!--<div class="header-txt">闪送</div>-->
    <!--<a class="backed-btn" href="">-->
    <!--</a>-->
<!--</header>-->
<div class="head">
    <div class="fl back"><a href="javascript:;">返回保单</a></div>
    <div class="center">保障范围</div>
</div>
<div class="scope">
    <div class="scope-title">30种常见重大疾病（保额10万）</div>
    <ul class="scope-items">
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">恶性肿瘤(常见的恶性肿瘤有:鼻咽癌、肺癌、食管癌和贲门癌、胃癌、原发性肝癌、大肠癌、乳腺癌、恶性淋巴瘤)</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">恶性肿瘤(常见的恶性肿瘤有:鼻咽癌、肺癌、食管癌和贲门癌、胃癌、原发性肝癌、大肠癌、乳腺癌、恶性淋巴瘤)</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">急性心肌梗塞</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">脑中风后遗症</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">重要器官移植或造血干细胞移植术(肾脏移植、心脏移植、肺移植、肝移植、骨髓移植)</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">冠状动脉搭桥术</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">终末期肾病(尿毒症)</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">多个肢体缺失</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">急性或亚急性重症肝炎</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">良性脑肿瘤</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">慢性肝功能衰竭失代</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">脑炎后遗症</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">深度昏迷</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">双耳失聪</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">双目失明</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">瘫痪</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">心脏辨膜手术</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重阿尔茨海默病(老年痴呆症)</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重脑损伤</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重帕金森病</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重III度烧伤</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重原发性肺动脉高压</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重运动神经元病</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">语言能力丧失</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">重型再生障碍性贫血</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">主动脉手术</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重多发性硬化</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重1型糖尿病</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">恶性葡萄胎(女性)</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">系统性红斑狼疮 (女性)</div></li>
        <li class="clear"><div class="dot"><span>•</span></div><div class="content">严重原发性心肌病</div></li>
    </ul>
</div>
</body>
<script>
</script>
</html>