<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
     user-scalable=no, width=device-width, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>常见问题</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src='../js/utils/adaptive.js'></script>
    <script src='../js/zepto/zepto.min.js'></script>
    <style>
        body {font-size: 0.28rem;}
        .faq-items .item {background-color: #fff;padding: 0.2rem 0.2rem;border-bottom: 1px solid #E0E5E5}
        .faq-items .item:last-child {background-color: #fff;padding: 0.2rem 0.2rem;border-bottom: 0 none}
        .faq-title {font-size: 0.28rem;color: #2aabd2}
        .faq-title > div {display: inline-block;}
        .faq-title > .faq-title-q {width: 7%;float: left;}
        .faq-title > .faq-title-con {float: right;width: 93%;}
        .faq-content {color: #444;margin-top: 0.1rem;}
        .faq-content .faq-content-a {float: left;width: 7%;}
        .faq-content .faq-content-con {float: right;width: 93%;}
    </style>
</head>
<body>
<header class="backed-header row">
	<a class="backed-btn" href="welfare.html">
	<img src="images/backed.png">
	</a>
	<div class="header-txt">闪送</div>
	<a class="backed-btn" href="">
	</a>
</header>
<div class="head">
    <div class="fl back"><a href="javascript:;">返回保单</a></div>
    <div class="center">常见问题</div>
</div>
<div class="faq-items">
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">守护者重疾险对被保险人的年龄要求？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">被保险人的投保年龄在20周岁至49周岁。</div>
        </div>
    </div>
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">守护者重疾险的保障期限如何选择？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">守护者重疾险最长可购买一年，也可以按月购买，首次投保最少购买2个月。</div>
        </div>
    </div>
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">是否可以续保？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">只要被保险人在20周岁至49周岁内，守护者重疾险可以持续续保，您可以直接在已购买的保单页面进行续保购买。</div>
        </div>
    </div>
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">什么是等待期？这个产品的等待期是多久？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">等待期是指需要对被保险人的健康情况观察一段时间，在这段时间里如果发生了保险事故将不会获得赔付，保费将全部退还。设置等待期主要是防止带病投保等情况。本产品的等待期是30天。</div>
        </div>
    </div>
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">什么情况下可以赔付？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">一旦确诊患有30种重大疾病中的至少一种，即将保额一次性全部赔付。</div>
        </div>
    </div>
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">如果我同时也购买了其他的保险，这个保险产品在发生理赔时会受到影响吗？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">本产品与您购买的任何其他保险产品不冲突，只要符合理赔条件，即将保额一次性全部赔付。</div>
        </div>
    </div>
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">理赔时需要提供什么材料？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">理赔时需要提供二级（包含二级）以上公立医院的诊断证明及身份证明资料。</div>
        </div>
    </div>
    <div class="item">
        <div class="clear faq-title">
            <div class="faq-title-q">Q：</div>
            <div class="faq-title-con">购买这个产品需要体检吗？</div>
        </div>
        <div class="clear faq-content">
            <div class="faq-content-a">A：</div>
            <div class="faq-content-con">购买该保险无需体检。</div>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>