<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
     user-scalable=no, width=device-width, minimal-ui" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title>支付失败</title>
	<link rel="stylesheet" href="../css/style.css">
	<script src='../js/utils/adaptive.js'></script>
	<script src='../js/zepto/zepto.min.js'></script>
</head>
<body>
<!--<header class="backed-header row">-->
    <!--<a class="backed-btn" href="">-->
       <!--<img src="images/backed.png">-->
    <!--</a>-->
    <!--<div class="header-txt">支付结果</div>-->
     <!--<a class="backed-btn" href="">-->
    <!--</a>-->
<!--</header>-->
<div class="center clear bt">
    <div class="albedo clear bm">
         <div class="boxkuai">
               <div class="hook"><img src="../images/cuo.png"></div>
               <div class="Hanzi">支付失败</div>
               <div class="Hanzi insure">请尝试重新支付</div>
         </div>
    </div>
    <div class="button xubao"><a href="payment_affirm.html">重新支付</a></div>
</div>
</body>
<script>
    $(document).ready(function(e) {
        $('.xubao').click(function(){
			$(this).addClass('bianse');
            window.location.href="payment_affirm.html";
		})
    });
</script>	
</html>