<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
     user-scalable=no, width=device-width, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>我要理赔</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src='../js/utils/adaptive.js'></script>
    <script src='../js/zepto/zepto.min.js'></script>
    <style>
        body {background-color: #fff;}
        .flow {font-size: 0.4rem;text-align: center;height: 1rem;line-height: 1rem;}
        .flow-itmes {padding: 0 0.5rem;font-size: 0.33rem;margin-top: 0.4rem;}
        .item {margin-bottom: 0.2rem;}
        .item .item-number {float: left; width: 5%;margin-top: 0.03rem;}
        .item .item-content {float: right;width: 95%;}
    </style>
</head>
<body>
<!--<header class="backed-header row">-->
    <!--<a class="backed-btn" href="welfare.html">-->
        <!--<img src="images/backed.png">-->
    <!--</a>-->
    <!--<div class="header-txt">我要理赔</div>-->
    <!--<a class="backed-btn" href="">-->
    <!--</a>-->
<!--</header>-->
<div class="head">
    <div class="fl back"><a href="javascript:;">返回保单</a></div>
    <div class="center">理赔流程</div>
</div>
<div class="scope">
    <!--<div>-->
        <!--<p class="flow">理赔流程</p>-->
        <!--&lt;!&ndash;<p class="des">发生理赔，量子保为您提供快速理赔通道</p>&ndash;&gt;-->
    <!--</div>-->

    <div class="flow-itmes">
        <div class="clear item">
            <p class="item-number">1、</p>
            <p class="item-content">拨打理赔专线电话：400-919-9929</p>
        </div>
        <div class="clear item">
            <p class="item-number">2、</p>
            <p class="item-content">提供理赔材料，具体如下(但不限于):</p>
            <ul style="font-size: 0.28rem;float: left;margin-top: 0.1rem;margin-left: 0.8rem">
                <li style="list-style: disc ;height: 0.4rem;line-height: 0.4rem;">诊断证明</li>
                <li style="list-style: disc ;height: 0.4rem;line-height: 0.4rem;">身份证明</li>
            </ul>
        </div>
        <div class="clear item">
            <p class="item-number">3、</p>
            <p class="item-content">审核保险责任，5个工作日内理赔。</p>
        </div>
        <div class="clear item">
            <p class="item-number">4、</p>
            <p class="item-content">赔付资金支付至被保险人账户。</p>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>